Options -Indexes

# Bloquear acesso direto a este diretório quando alguém tentar acessar /public/ explicitamente
# O roteamento correto é feito pelo .htaccess da raiz do projeto.
RewriteEngine On
RewriteRule ^(.*)$ - [F,L]
